.footer {

  font-size: 16px;
  color: var(--txt-color);
  //padding-bottom: 46px;
  padding: 0 15px 46px;

  &__row {
    display: flex;
    justify-content: space-between;
    @include breakpoint(md9){
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__col {

    &:last-child{
      max-width: 325px;
    }

    @include breakpoint(md9){
      &:nth-child(-n + 3){
        //flex-basis: 33%;
      }
      &:last-child{
        flex-basis: 100%;
        margin:30px auto 0;
        max-width: unset;
      }    }

    @include breakpoint(sm){

      &:nth-child(n + 2):nth-child(-n + 3){
        //flex-basis: 50%;
      }

      &:first-child{
        flex-basis: 100%;
        justify-content: center;
      }
    }

    @include breakpoint(xs38){
      &:nth-child(n + 2):nth-child(-n + 3){
        //flex-basis: 100%;
        width: 100%;
        text-align: center;
        margin-top: 35px;
      }
    }
  }

  .nav__logo-wrapper {
    @include breakpoint(sm){
      justify-content: center;
    }
  }

  .nav__img-wrapper {
  }

  .nav__logo-link {
  }

  &__socials {
    display: flex;
    margin-top: 25px;

    @include breakpoint(sm){
      justify-content: center;
      margin-bottom: 25px;
    }

    @include breakpoint(xs38){
      margin-bottom: 0;
    }
  }

  &__social-wrapper {
    width: 40px;
    height: 40px;
    background: #EDFFFC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    //margin-right: 16px;

    /*&:last-child{
      margin-right: 0;
    }*/
  }

  .icon-instagram {

    &:before{
      color:$mainCl;
      font-size: 20px;
    }
  }

  .icon-facebook {

    &:before{
      color:$mainCl;
      font-size: 19px;
    }
  }

  .icon-twitter {

    &:before{
      color:$mainCl;
      font-size: 17px;
    }
  }

  &__list {
  }

  &__item {

    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    position: relative;

    &:first-child{
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 20px;
      line-height: 30/20 * 100%;
    }

    /*&:nth-child(n + 2){
      background-color: RED;
    }*/
    &:nth-child(n + 2):after{
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: -4px;
      border-radius: 5px;
      left: 0;
      background-color: $mainCl;
      transform-origin: bottom right;
      transition: transform .3s ease-out;

      @include breakpoint(xs38){
        transform-origin: bottom center;
      }
    }

    &:hover:nth-child(n + 2):after {
      transform: scaleX(1);
      transform-origin: bottom left;

      @include breakpoint(xs38){
        transform-origin: bottom center;
      }
    }
  }

  &__link {
  }

  &__form-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30/20 * 100%;

    @include breakpoint(md){
      font-size: 18px;
    }

    @include breakpoint(md){
      max-width: 280px;
      text-align: center;
    }
  }

  &__input {
  }

  &__made-by {
    margin-top: 10px;
    text-align: center;

    @include breakpoint(sm){
      margin-top: 44px;
    }
  }

  &__btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 24/16 * 100%;
    margin-top: 21px;

    @include breakpoint(md9){
      margin-top: unset;
      min-width: fit-content;
    }
  }

  &__social-link{
    margin-right: 16px;

    &:last-child{
      margin-right: 0;
    }

    &:hover{

      .icon-facebook:before{
        transition: .3s ease-in-out;
        color: #283b44;
      }
      .icon-instagram:before{
        transition: .3s ease-in-out;
        color: #283b44;
      }
      .icon-twitter:before{
        transition: .3s ease-in-out;
        color: #283b44;
      }
    }



  }
  &__form{

    @include breakpoint(md9){
      display: flex;
      align-items: center;
      gap:20px;
    }

    @include breakpoint(md){
      display: flex;
    }

    @include breakpoint(sm){
      flex-direction: column;
    }
  }
}