body.lock{
  @include breakpoint(md){
    overflow: hidden;
  }
}

.header{
  border-bottom: 1px solid #E2E8F0;
  background-color: var(--bg-color);
}

.nav {
  height: $navHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: var(--bg-color);
  z-index: 2;
  transition: background-color 0.3s;

  @include breakpoint(md){
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    padding:0 32px;
  }
}

.hamburger {
  display: none;
  @include breakpoint(md){
    display: block;
    cursor: pointer;
    &.active .hamburger__bar:nth-child(2) {
      opacity: 0;
    }
    &.active .hamburger__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &.active .hamburger__bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--txt-color);
}

.nav__menu {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  transition: background-color .3s;

  &.active{
    @include breakpoint(md){
      padding-bottom: 5rem;
      left: 0;
      height: 100%;
      justify-content: start;
    }
  }
  @include breakpoint(md){
    justify-content: start;
    height: 100%;
    position: fixed;
    left: -100%;
    top:$navHeight + $aboveNavContentHeight;
    flex-direction: column;
   // background-color: $navBgColor;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    &.active{
      left:0;
    }
  }
}

.nav__item {
  margin-left: 30px;
  display: inline-block;
  position: relative;

  @include breakpoint(lg){
    margin-left: 14px;
  }

  @include breakpoint(md){
    margin:2.5rem 0;
  }

  &:nth-child(-n+4):after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -4px;
    border-radius: 5px;
    left: 0;
    background-color: $mainCl;
    transform-origin: bottom right;
    transition: transform .3s ease-out;
  }

  &:hover:nth-child(-n+4):after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.nav__link{
  font-size: 16px;
  line-height: 28/16 * 100%;
  font-weight: 400;
  //color: $navTextColor;
  &:hover{
    //color: $navTextHoverColor;
  }

  &.active{
    font-weight: 600;
  }

  @include breakpoint(lg){
    font-size: 14px;
  }

  @include breakpoint(md){
    font-size: 16px;
  }
}

.nav__logo-link {
  font-weight: 700;
  font-size: 30px;
  line-height: 28/30*100%;
  color: var(--txt-color2);
  transition: color .3s ease-in-out;

  @include breakpoint(lg){
    font-size: 26px;
  }

  &:hover{
    color: var(--logo-hover);
  }
}

.hero > .content{
  @include breakpoint(md){
    padding-top: $navHeight + $aboveNavContentHeight;
  }
}

.nav__logo-wrapper {
  display: flex;
  align-items: center;
  gap:16px;
}

.nav__img-wrapper {

  img{
    width: 40px;
    height: 37px;
  }
}

.nav__txt-wrapper {
}
