@charset "utf-8";

@import "abstracts/_abstracts-dir";
@import "vendor/_verndor-dir";
@import "core/_core-dir";
@import "components/_components-dir";
@import "layouts/_layouts-dir";
@import "pages/_pages-dir";

.content{
  max-width: 1110px;
  margin: 0 auto;
}
body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--color-text);
  transition: background-color .3s;
  background-color: var(--bg-color);
}

a{
  color: var(--txt-color);

  &:visited{
    color:var(--txt-color2);
  }
}

html[data-theme="light"] {
  --txt-color: #{$txtCl};
  --txt-color2: #{$txtCl2};
  --bg-color: #{$backgroundCl};
  --gradient: #{$gradientCl};
  --gradient2: #{$gradientCl2};
  --gradient3_r: #{$gradientCl3-r};
  --gradient3_l: #{$gradientCl3-l};
  --sign-in-hover: #{$signInHover};
  --logo-hover:#{$logoHover};
  --border-cl:#{$borderCl};
}

html[data-theme="dark"] {
  --txt-color: #{$txtCl_dark};
  --txt-color2: #{$txtCl2_dark};
  --bg-color: #{$backgroundCl_dark};
  --gradient: #{$gradientCl_dark};
  --gradient2: #{$gradientCl2_dark};
  --gradient3_r: #{$gradientCl3-r_dark};
  --gradient3_l: #{$gradientCl3-l_dark};
  --sign-in-hover: #{$signInHover_dark};
  --logo-hover:#{$logoHover_dark};
  --border-cl:#{$borderCl_dark};
}

