h1{
  font-weight: 700;
  font-size: 40px;
  line-height: 60/40 * 100%;

  @include breakpoint(lg){
    font-size: 38px;
  }
  @include breakpoint(sm){
    font-size: 36px;
  }

  @include breakpoint(xs38){
    font-size: 30px;
  }
}

h2{
  font-weight: 700;
  font-size: 34px;
  line-height: 51/34 * 100%;
  text-align: center;
  color: var(--txt-color);
}

h3{
  font-weight: 700;
  font-size: 32px;
  line-height: 48/32 * 100%;
  color: var(--txt-color);

  @include breakpoint(md){
    font-size: 28px;
  }

  @include breakpoint(xs38){
    font-size: 26px;
  }
}

h4{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40/24 * 100%;

  @include breakpoint(md){
    font-size: 22px;
  }

  @include breakpoint(md){
    font-size: 20px;
  }
}

h5{
  font-weight: 500;
  font-size: 20px;
  line-height: 30/24 * 100%;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e906";
  color: #02897a;
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-star-empty:before {
  content: "\e902";
  color: #f3cd03;
}
.icon-star-full:before {
  content: "\e903";
  color: #f3cd03;
}
.icon-switcher:before {
  content: "\e904";
  color: #02897a;
}
.icon-twitter:before {
  content: "\e905";
}
