<section class="contents">
    <div class="content">
        <div class="contents__header">
            <h3 class="contents__title">Content strategies</h3>
            <div class="contents__description">
                We focus on ergonomics and meeting you where you work.
                It's only a keystroke away.
            </div>
        </div>
        <div class="contents__row row">
            <div class="gradient-r"></div>
            <div class="gradient-l"></div>
            <div class="contents__card">
                <a href="" class="contents__card-link">
                    <div class="contents__img-wrapper">
                        <img src="img/card_1.png" alt="">
                    </div>
                    <div class="contents__text">
                        <div class="contents__author-date">
                            By <span class="contents__author">Wahid Ari sadf asdfa</span>&nbsp;|
                            <time class="contents__data">03 March 2019</time>
                        </div>
                        <h4 class="contents__card-title">
                            Increasing Prosperity With Positive Thinking
                        </h4>
                    </div>
                </a>
            </div>
            <div class="contents__card">
                <a href="" class="contents__card-link">
                    <div class="contents__img-wrapper">
                        <img src="img/card_2.png" alt="">
                    </div>
                    <div class="contents__text">
                        <div class="contents__author-date">
                            By <span class="contents__author">Wahid Ari</span>&nbsp;|
                            <time class="contents__data">03 March 2019</time>
                        </div>
                        <h4 class="contents__card-title">
                            Increasing Prosperity With Positive Thinking
                        </h4>
                    </div>
                </a>
            </div>
            <div class="contents__card">
                <a href="" class="contents__card-link">
                    <div class="contents__img-wrapper">
                        <img src="img/card_3.png" alt="">
                    </div>
                    <div class="contents__text">
                        <div class="contents__author-date">
                            By <span class="contents__author">Wahid Ari</span>&nbsp;|
                            <time class="contents__data">03 March 2019</time>
                        </div>
                        <h4 class="contents__card-title">
                            Increasing Prosperity With Positive Thinking
                        </h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>