<section class="features">
    <div class="content">
        <div class="features__row">
            <div class="features__col">
                <div class="features__subtitle features__subtitle--top">Effortless Validation for</div>
                <h3 class="features__title">Management</h3>
                <p class="features__text">
                    The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person.
                </p>
                <div class="features__paragraph">
                    <div class="features__subtitle">Accessory makers</div>
                    <p class="features__text">
                        While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
                    </p>
                </div>
                <div class="features__paragraph">
                    <div class="features__subtitle">Alterationists</div>
                    <p class="features__text">
                        If you are looking for a new way to promote your business that won’t cost you more money,
                    </p>
                </div>
            </div>
            <div class="features__col">
                <div class="features__img-wrapper">
                    <img src="img/management.png" class="features__img" alt="">
                </div>
            </div>
        </div>

        <div class="features__row">
            <div class="features__col">
                <div class="features__subtitle features__subtitle--top">Easier decision making for</div>
                <h3 class="features__title">Customer Support</h3>
                <p class="features__text">
                    The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person.
                </p>
                <div class="features__paragraph">
                    <ul class="features__list">
                        <li class="features__item">
                            <div class="features__item-wrapper">
                                <div class="features__item-img-wrapper">
                                    <img src="img/check_1.png" alt="">
                                </div> 
                                <div class="features__item-text">
                                    Never worry about overpaying for your energy again.
                                </div>
                            </div>
                        </li>
                        <li class="features__item">
                            <div class="features__item-wrapper">
                                <div class="features__item-img-wrapper">
                                    <img src="img/check_2.png" alt="">
                                </div>
                                <div class="features__item-text">
                                    We will only switch you to energy companies that we trust and will treat you right
                                </div>
                            </div>
                        </li>
                        <li class="features__item">
                            <div class="features__item-wrapper">
                                <div class="features__item-img-wrapper">
                                    <img src="img/check_3.png" alt="">
                                </div>
                                <div class="features__item-text">
                                    We track the markets daily and know where the savings are.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="features__col">
                <div class="features__img-wrapper">
                    <img src="img/customer.png" class="features__img" alt="">
                </div>
            </div>
        </div>
        <div class="features__row">
            <div class="features__col">
                <div class="features__subtitle features__subtitle--top">Optimisation for</div>
                <h3 class="features__title">Collaborative</h3>
                <p class="features__text">
                    Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior.
                </p>
                <div class="features__paragraph">
                    <div class="features__subtitle">Accessory makers</div>
                    <p class="features__text">
                        While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
                    </p>
                </div>
                <div class="features__paragraph">
                    <div class="features__subtitle">Alterationists</div>
                    <p class="features__text">
                        If you are looking for a new way to promote your business that won’t cost you more money,
                    </p>
                </div>
            </div>
            <div class="features__col">
                <div class="features__img-wrapper">
                    <img class="features__img" src="img/collaborative.png" alt="">
                </div>
            </div>
        </div>

    </div>
</section>