<footer class="footer">
    <div class="content">
        <div class="footer__row">
            <div class="footer__col">
                <div class="nav__logo-wrapper">
                    <div class="nav__img-wrapper">
                        <img src="img/logo.png" alt="">
                    </div>
                    <div class="nav__txt-wrapper">
                        <a href="#" class="nav__logo-link">Product</a>
                    </div>
                </div>
                <div class="footer__socials">
                    <a href="" class="footer__social-link">
                        <div class="footer__social-wrapper">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                    <a href="" class="footer__social-link">
                        <div class="footer__social-wrapper">
                            <span class="icon-facebook"></span>
                        </div>
                    </a>
                    <a href="" class="footer__social-link">
                        <div class="footer__social-wrapper">
                            <span class="icon-twitter"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="footer__col">
                <ul class="footer__list">
                    <li class="footer__item">
                        Resource
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">About Us</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Blog</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Contact</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <ul class="footer__list">
                    <li class="footer__item">Legal Stuff</li>
                    <li class="footer__item"><a href="" class="footer__link">Disclaimer</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Financing</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Privacy Policy</a></li>
                    <li class="footer__item"><a href="" class="footer__link">Term of Service</a></li>
                </ul>
            </div>
            <div class="footer__col">

                <form class="footer__form" action="">
                    <div class="footer__form-title">
                        knowing you're always on the best energy deal.
                    </div>
                    <input class="footer__input" type="email">
                    <button class="footer__btn btn-green btn">Sign up Now</button>
                </form>
            </div>
        </div>
        <div class="footer__made-by">
            Made With Love By Figmaland All Right Reserved
        </div>
    </div>
</footer>