<header>
    <div class="content">
        <nav class="nav">
            <div class="nav__logo-wrapper">
                <div class="nav__img-wrapper">
                    <img src="img/logo.png" alt="">
                </div>
                <div class="nav__txt-wrapper">
                    <a href="#" class="nav__logo-link">Product</a>
                </div>
            </div>
            <ul class="nav__menu">
                <li class="nav__item ">
                    <a href="#" class="nav__link active">Product</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Customers</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Pricing</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Resources</a>
                </li>
                <li class="nav__item">
                    <button class="nav__signin-btn btn">Sign In</button>
                </li>
                <li class="nav__item">
                    <button class="nav__signup-btn btn-green btn">Sign Up</button>
                </li>
                <li class="nav__item">
                    <button class="nav__switch-btn "><span class="icon-switcher"></span></button>
                </li>
            </ul>
            <div class="hamburger">
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
                <span class="hamburger__bar"></span>
            </div>
        </nav>
    </div>
</header>