<section class="hero">
    <div class="content">
        <div class="hero__row">
            <div class="hero__text-wrapper">
                <h1 class="hero__title">
                    Work at the speed
                    of thought
                </h1>
                <div class="hero__desc">
                    Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
                </div>

                <div class="hero__btn-wrapper">
                    <button class="hero__btn btn-green btn" data-animation="fromLeft 1s">Get started</button>
                    <a class="hero__link-wrapper" data-animation="fromRight 1s"  href="#"><span class="icon-play"></span>
                        <span class="hero__link">Watch the video</span></a>
                </div>
            </div>
            <div class="hero__img-wrapper">
                <img class="hero__img"  src="img/hero.png" alt="about us">
            </div>
        </div>
    </div>
</section>