<section class="join">
    <div class="content">
        <div class="join__row">
            <div class="join__col">
                <div class="join__title">Join 100 Compannies who boost their business with Product</div>
                <div class="join__btn-wrapper">
                    <button class="join__btn btn">Get This</button>
                </div>
            </div>
            <div class="join__col">
                <div class="join__img-wrapper">
                    <img src="img/join.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>