<section class="price">
  <div class="content">
    <h3 class="price__title">Price Table</h3>
    <div class="price__desc">We offer competitive price</div>
    <div class="price__row row">
      <div class="gradient-r"></div>
      <div class="gradient-l"></div>
      <div class="price__card">
        <h4 class="price__card-type">Free</h4>
        <div class="price__card-desc">Brief price description</div>
        <div class="price__card-price">
          <div class="price__value">0</div>
          <div class="price__period-wrapper">
            <div class="price__currency">$</div>
            <div class="price__period">Per / month</div>
          </div>
        </div>
        <ul class="price__card-list">
          <li class="price__card-item">Only 2 Operators</li>
          <li class="price__card-item">Notifications</li>
          <li class="price__card-item">Landing Pages</li>
        </ul>
        <button class="price__btn btn-green btn">Order Now</button>
      </div>

      <div class="price__card">
        <h4 class="price__card-type">Standart</h4>
        <div class="price__card-desc">Brief price description</div>
        <div class="price__card-price">
          <div class="price__value">5</div>
          <div class="price__period-wrapper">
            <div class="price__currency">$</div>
            <div class="price__period">Per / month</div>
          </div>
        </div>
        <ul class="price__card-list">
          <li class="price__card-item">5+ Operators</li>
          <li class="price__card-item">Notifications</li>
          <li class="price__card-item">Landing Pages</li>
        </ul>
        <button class="price__btn btn-green btn">Order Now</button>
      </div>

      <div class="price__card">
        <h4 class="price__card-type">Premium</h4>
        <div class="price__card-desc">Brief price description</div>
        <div class="price__card-price">
          <div class="price__value">10</div>
          <div class="price__period-wrapper">
            <div class="price__currency">$</div>
            <div class="price__period">Per / month</div>
          </div>
        </div>
        <ul class="price__card-list">
          <li class="price__card-item">10+ Operators</li>
          <li class="price__card-item">Notifications</li>
          <li class="price__card-item">Landing Pages</li>
        </ul>
        <button class="price__btn btn-green btn">Order Now</button>
      </div>

    </div>
  </div>
</section>