<section class="product">
    <div class="content">
        <h3 class="product__title">Product  was Built Specifically for You</h3>
        <div class="product__row">
            <div class="product__cards">
                <div class="product__card">
                    <div class="product__img-wrapper">
                        <img src="img/arrow_1.png" alt="arrow">
                    </div>
                    <div class="product__card-title">First click tests</div>
                    <div class="product__card-text">
                        While most people enjoy casino gambling,
                    </div>
                </div>
                <div class="product__card">
                    <div class="product__img-wrapper">
                        <img src="img/snake.png" alt="arrow">
                    </div>
                    <div class="product__card-title">First click tests</div>
                    <div class="product__card-text">
                        While most people enjoy casino gambling,
                    </div>
                </div>
                <div class="product__card">
                    <div class="product__img-wrapper">
                        <img src="img/heart.png" alt="arrow">
                    </div>
                    <div class="product__card-title">First click tests</div>
                    <div class="product__card-text">
                        While most people enjoy casino gambling,
                    </div>
                </div>
                <div class="product__card">
                    <div class="product__img-wrapper">
                        <img src="img/clock.png" alt="arrow">
                    </div>
                    <div class="product__card-title">First click tests</div>
                    <div class="product__card-text">
                        While most people enjoy casino gambling,
                    </div>
                </div>
            </div>
            <button class="product__btn btn-green btn" data-animation="fromLeft">sign up now</button>
            <div class="product__gradient"></div>
        </div>
    </div>
</section>