<section class="process">
    <div class="process__background"></div>
    <div class="content display-relative">

        <div class="process__title-wrapper">
            <h3 class="process__title">Quick & Easy Process</h3>
            <div class="process__desc">Do you require some help for your project: Conception workshop,
                prototyping, marketing strategy, landing page, Ux/UI?</div>
        </div>

        <div class="process__row">
            <div class="process__col">
                <div class="process__card">
                    <div class="process__img-wrapper">
                        <img src="img/person_1.png" alt="">
                    </div>
                    <div class="process__text-col">
                        <div class="process__text-cloud" data-text="I can take care of your pitch">
                            <span class="process__person-text"></span>
                            <span class="process__white-circle"></span>
                        </div>
                    </div>
                </div>
                <div class="process__card">
                    <div class="process__img-wrapper">
                        <img src="img/person_2.png" alt="">
                    </div>
                    <div class="process__text-col">
                        <div class="process__text-cloud" data-text="I can design you website">
                            <span class="process__person-text"></span>
                            <span class="process__white-circle"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="process__col">
                <div class="process__card">
                    <div class="process__img-wrapper">
                        <img src="img/person_3.png" alt="">
                    </div>
                    <div class="process__text-col">
                        <div class="process__text-cloud" data-text="I can prototype your app">
                            <span class="process__person-text"></span>
                            <span class="process__white-circle"></span>
                        </div>
                    </div>
                </div>
                <div class="process__card">
                    <div class="process__img-wrapper">
                        <img src="img/person_4.png" alt="">
                    </div>
                    <div class="process__text-col">
                        <div class="process__text-cloud" data-text="I can help marketing strategy">
                            <span class="process__person-text"></span>
                            <span class="process__white-circle"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="process__btn btn-green btn">Contact our expert</button>


    </div>
</section>