<section class="reviews">
    <div class="content">
        <h3 class="reviews__title">What Clients Say</h3>
        <div class="reviews__desc">
            Problems trying to resolve the conflict between
            the two major realms of Classical physics: Newtonian mechanics
        </div>
        <div class="reviews__row row">
            <div class="gradient-r"></div>
            <div class="gradient-l"></div>
            <div class="reviews__card">
                <div class="reviews__stars">
                    <span class="icon-star-empty reviews__star"></span>
                    <span class="icon-star-empty reviews__star"></span>
                    <span class="icon-star-empty reviews__star"></span>
                    <span class="icon-star-empty reviews__star"></span>
                    <span class="icon-star-empty reviews__star"></span>
                </div>
                <div class="reviews__text">Product helps you see how many
                    more days you need to work to
                    reach your financial goal.</div>
                <div class="reviews__profile">
                    <div class="reviews__img-wrapper">
                        <img src="img/client_1.png" alt="">
                    </div>
                    <div class="reviews__u-info">
                        <div class="reviews__u-name">Wahid Ari</div>
                        <div class="reviews__u-speciality">Designer</div>
                    </div>
                </div>
            </div>
            <div class="reviews__card">
                <div class="reviews__stars">
                    <span class="icon-star-empty reviews__star"></span>
                    <span class="icon-star-empty reviews__star"></span>
                    <span class="icon-star-empty reviews__star"></span>
                    <span class="icon-star-empty reviews__star"></span>
                    <span class="icon-star-empty reviews__star"></span>
                </div>
                <div class="reviews__text">Product helps you see how many
                    more days you need to work to
                    reach your financial goal.</div>
                <div class="reviews__profile">
                    <div class="reviews__img-wrapper">
                        <img src="img/client_2.png" alt="">
                    </div>
                    <div class="reviews__u-info">
                        <div class="reviews__u-name">Wahid Ari</div>
                        <div class="reviews__u-speciality">Designer</div>
                    </div>
                </div>
            </div>
            <div class="reviews__card">
                <div class="reviews__stars">
                    <span class="icon-star-empty reviews__star"></span>
                    <span class="icon-star-empty reviews__star"></span>
                    <span class="icon-star-empty reviews__star"></span>
                    <span class="icon-star-empty reviews__star"></span>
                    <span class="icon-star-empty reviews__star"></span>
                </div>
                <div class="reviews__text">Product helps you see how many
                    more days you need to work to
                    reach your financial goal.</div>
                <div class="reviews__profile">
                    <div class="reviews__img-wrapper">
                        <img src="img/client_3.png" alt="">
                    </div>
                    <div class="reviews__u-info">
                        <div class="reviews__u-name">Wahid Ari</div>
                        <div class="reviews__u-speciality">Designer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>