.btn{
  border-radius: 4px;
  padding: 10px 24px 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24/16 * 100%;
  color: white;


  @include breakpoint(lg){
    padding: 10px 19px 9px;
  }

  @include breakpoint(md){
    padding: 10px 24px 9px;
  }
}

.nav__signin-btn{
  background: var(--bg-color);
  color:var(--txt-color);
  border:1px solid #bcd0e5;
  transition: background .3s ease-in-out;

  &:hover{
    background-color: var(--sign-in-hover);
  }
}

.nav__signup-btn{
/*  background: $mainCl;
  transition: .3s ease-in-out;

  &:hover{
    background-color: #017063;
  }*/
}

.nav__switch-btn{
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
  transition: all .3s ease-in-out;
  border: 1px solid var(--bg-color);

  .icon-switcher{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);

    &:before{
      font-size: 20px;
    }
  }
  &:hover{
    border:1px solid $mainCl;
  }
}

.btn-green{
  background: $mainCl;
  transition: .3s ease-in-out;

  &:hover{
    background-color: #017063;
  }
}

.hero__btn{

}

.price__btn{
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
}
