input[type="email"]{
  height: 48px;
  width: 100%;
  margin-top: 34px;
  border: 2px solid #BCD0E5;
  border-radius: 4px;
  transition: .3s ease-in;
  padding:0 14px;
  font-size: 16px;
  font-weight: 500;

  &:hover{
    border: 2px solid $mainCl;
  }

  &:focus{
    border: 2px solid $mainCl;
  }

  @include breakpoint(md9){
    margin-top: unset;
  }

}