.contents {
  padding: 150px 0 150px;
  color: var(--txt-color);
  font-size: 16px;
  font-weight: 400;

  @include breakpoint(lg){
    padding: 100px 15px 100px;
  }

  @include breakpoint(md){
    padding: 50px 30px 50px;
  }

  @include breakpoint(sm){
    padding-left: 15px;
    padding-right: 15px;
  }

  &__header {
  }

  &__title {
    @include breakpoint(md){
      text-align: center;
    }
  }

  &__description {
    font-weight: 500;
    margin:8px 0 33px;

    @include breakpoint(md){
      text-align: center;
    }

    @include breakpoint(sm){
      font-size: 14px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    gap: 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;

    &::-webkit-scrollbar{
      display: none;
    }

    @include breakpoint(sm){
      flex-direction: column;
      overflow-x: unset;
      //justify-content: center;
      align-items: center;
      row-gap: 16px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    max-width:350px;
    border:1px solid var(--border-cl);
    border-radius: 8px;
    color:$txtCl;


    a{
      color:$txtCl;
      &:visited{
        color:$txtCl;
      }
    }

    &:hover{


      img{
        transform:translate(-50%, -50%) scale(1.3);
      }

      h4{
        transition: color .3s ease-in-out;
        color:$mainCl;
      }
    }

  }

  &__img-wrapper {
    width:348px;
    height: 185px;
    overflow: hidden;
    position: relative;

    img{
      border-radius: 8px 8px 0 0;
      position: absolute;
      object-fit: cover;
      top: 50%;
      left: 50%;
      transform:translate(-50%, -50%);
      width: 100%;
      height: 100%;
      transition: transform .3s ease-in, scale .3s ease-in;
    }

    @include breakpoint(sm){
      width: 100%;
    }
  }

  &__author-date {
  }

  &__author {
    font-weight: 700;
    display: inline-block;
    position: relative;
    top: 3px;
    line-height: 1;

    @include textTruncate(103px);
  }

  &__data {
  }

  &__text{
    background-color: white;
    padding:24px;
    border-radius: 0 0 8px 8px;

    @include breakpoint(md){
      padding: 20px;
    }
    @include breakpoint(sm){
      padding: 16px;
    }
  }

  &__card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40/24 * 100%;
    margin-top: 12px;
  }
}

.gradient-r{
  position: absolute;
  min-width: 55px;
  height: 100%;
  right:0;
  z-index: 1;
  background: var(--gradient3_r);
}

.gradient-l{
  position: absolute;
  min-width: 55px;
  height: 100%;
  left: 0;
  z-index:1;
  background:var(--gradient3_l);
}