.features {
  padding:150px 0 150px;
  overflow: hidden;
  color: var(--txt-color);

    @include breakpoint(lg){
      padding-left: 15px;
      padding-right: 15px;
    }
  @include breakpoint(md){
    padding:  100px 15px 100px;
  }

  @include breakpoint(sm){
    padding: 50px 15px 50px;
  }

  &__row {
    font-size: 16px;
    line-height: 26/16 * 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    gap:20px;

    &:nth-child(2){
      flex-direction: row-reverse;

      .features__img-wrapper{
        img{
          transform:translateX(-150px);
          //border:1px solid black;
        }
        .fadeIn{
          transform:translate(0px, 0px);
          opacity: 1;
        }
      }

      .features__col:first-child{
        max-width: 450px;

        @include breakpoint(md){
          max-width: 100%;
        }
      }

      @include breakpoint(md){
        flex-direction: column-reverse;
      }
    }

    &:last-child{
      margin-bottom: 0;
    }

    @include breakpoint(lg){
      font-size: 14px;
      margin-bottom: 120px;
    }

    @include breakpoint(md){
      flex-direction: column-reverse;
      font-size: 16px;
      margin-bottom: 90px;
    }
    @include breakpoint(sm){
      margin-bottom: 45px;
    }

  }

  &__col {
    &:first-child{
      max-width: 435px;
      display: flex;
      flex-direction: column;

      @include breakpoint(md){
        max-width: 100%;
      }
    }

    .features__paragraph{
      margin-top: 30px;

      &:last-child{
        margin-top: 25px;
      }
    }
    @include breakpoint(lg){
      flex-basis: 50%;
      //max-width: 100%;
    }
    @include breakpoint(md){
      max-width: 100%;
    }
  }

  &__subtitle {
    font-weight: 600;
    margin-bottom: 12px;
    opacity:0;
    transform:translateY(-75px);
    transition: opacity .7s, transform .7s;


  }

  &__subtitle--top {
    margin-bottom: 0;
    line-height: 26/16 * 100%;
  }

  &__title{
    margin: 8px 0 23px;
    opacity:0;
    transform:translateY(-75px);
    transition: opacity .7s, transform .7s;
  }

  &__text {
    opacity:0;
    transform:translateY(-75px);
    transition: opacity .7s, transform .7s;
  }

  &__img-wrapper {
  }

  &__list {
  }

  &__img{
    opacity: 0;
    transform:translateX(150px);
    transition: opacity 1s, transform 1s;

    &:nth-child(2){

      //border:2px solid black;
      width: 100px;
      height: 100px;
    }
  /*  .fadeIn{
      transform:translate(0px, 0px);
      opacity: 1;
    }*/
  }

  &__item {
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(-75px);
    transition: opacity 1s, transform 1s;


    &:last-child{
      margin-bottom: 0;
    }
  }

  &__item--blue {
  }

  &__item-wrapper {
    display: flex;
    gap:30px;
    align-items: center;

    @include breakpoint(md){
      gap: 15px;
    }
  }

  &__item-img-wrapper {
    min-width: 35px;
    align-items: center;
    display: flex;

    img{
      width: 35px;
      height: 35px;
    }
  }

  .fadeIn{
    transform:translate(0px, 0px);
    opacity: 1;
  }
}