.hero {
  background-color: var(--bg-color);
  color: var(--txt-color);
  padding: 25px 13px 115px;
  transition: color, background-color .3s ;
  overflow-x: hidden;
  @include breakpoint(sm){
    padding: 25px 24px 115px;
  }

  &__row{
    display: flex;
    align-items: center;

    @include breakpoint(md){
      gap: 15px;
      flex-direction: column-reverse;
    }
  }

  &__text-wrapper {
    max-width: 458px;

    @include breakpoint(lg){
      max-width: 350px;
    }

    @include breakpoint(md){
      max-width: unset;
    }
  }

  &__title {
    transform: translateY(-150px);
    opacity: 0;
    transition: transform 1s, opacity 1s;

    @include breakpoint(md){
      transform: translateX(-150px);
    }

    @include breakpoint(sm){
      text-align: center;
    }
  }

  &__desc {
    font-size: 18px;
    line-height: 28/18 * 100%;
    margin: 18px 0 45px;
    transform:translateX(-150px);
    opacity: 0;
    transition: transform 1s, opacity 1s;

    @include breakpoint(lg){
      font-size: 16px;
    }

    @include breakpoint(md){
      transform: translateX(150px);
    }

    @include breakpoint(sm){
      max-width: 330px;
      margin: 18px auto 45px;
      text-align: center;
    }

    @include breakpoint(xs38){
      font-size: 14px;
      margin-bottom: 30px;
    }
  }

  &__btn-wrapper{
    display: flex;
    align-items: center;
    gap: 30px;

    @include breakpoint(sm){
      gap: 15px;
      justify-content: center;
    }

    @include breakpoint(xs38){
      flex-direction: column;
    }

  }


  &__btn {
    opacity: 0;
    transform:translateX(0px);
    transition: opacity 1s, transform 1s;
    font-weight: 700;

    @include breakpoint(md){
      //animation-name: fromLeft;
    }
  }

  &__link-wrapper {
    transform:translateX(0);
    transition: opacity 1s, transform 1s;
    opacity: 0;

    .icon-play{
      margin-right: 8.5px;
      position: relative;
      top: 2px;

      &:before{
        font-size: 20px;
      }
    }
  }

  .hero__link{
    color:$mainCl;
    text-decoration: underline;
    font-weight: 600;
    font-size: 16px;
    line-height: 24/16 * 100%;
  }

  .icon-play {
  }

  &__img-wrapper {



  }
  img{
    max-width: 600px;
    width: 100%;
    //animation-name: show-image;
    position: relative;
    transform:translateX(150px);
    opacity: 0;
    transition: opacity 1s, transform 1s linear;

    @include breakpoint(md){
      transform:translateY(150px);
    }
  }

  .fadeIn{
    transform:translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes fromLeft {
  from{
    transform: translateX(-150px);
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    opacity:1;
  }
}

@keyframes fromRight {
  from{
    transform: translateX(150px);
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    opacity:1;
  }
}