.join {

  padding:0px 15px 150px;

  @include breakpoint(md){
    padding:100px 15px 100px;
  }
  &__row {
    background-color: $mainCl;
    border-radius: 32px;
    max-width: 968px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    //padding:15px;

    @include breakpoint(md){
      flex-direction: column;
      width:fit-content;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    color:white;

    &:first-child{
      max-width: 510px;
      padding: 56px 0 56px 56px;
      flex-basis: 50%;
      @include breakpoint(md){
        padding: 17px 21px 0 21px;
      }
    }
    &:last-child{
      flex-basis: 50%;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 50px;


    @include breakpoint(lg){
      font-size: 30px;
    }

    @include breakpoint(md){
      font-size: 32px;
      text-align: center;
      margin-bottom: 60px;
    }

    @include breakpoint(sm){
      font-size: 26px;
      margin-bottom: 40px;
    }
  }

  &__btn {
    background-color: white;
    color: $mainCl;
    display: block;
    transition: background-color .3s ease-in-out;

    &:hover{
      background-color: #e0e0e0;
    }

    &:active{
      background-color: #D0D0D0FF;
    }
  }

  &__btn-wrapper{
    @include breakpoint(md){
      margin: 0 auto 32px;
    }
  }


  &__img-wrapper {

  }
}