.price {
  padding-bottom: 150px;
  font-size: 16px;


  @include breakpoint(lg){
    padding-bottom: 100px;
  }

  @include breakpoint(md){
    padding-bottom: 50px;
  }

  &__title {
   text-align: center;
  }

  &__desc {
    text-align: center;
    font-weight: 500;
    margin: 8px 0 50px;
    color: var(--txt-color);
  }

  &__row {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding:10px 5px 10px;
    position: relative;

    &::-webkit-scrollbar{
      display: none;
    }

    @include breakpoint(sm){
      flex-direction: column;
      overflow-x: unset;
      align-items: center;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #22343D;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    min-width: 322px;
    width: 322px;
    border-radius: 8px;
    padding:24px 0 32px;

    &:nth-child(4) {
      color: white;
      background-color: $mainCl;

      .price__value {
        color: white;
      }

      .price__currency{
        color: white;
      }

      .price__btn {
        background-color: #f3f3f3;
        color: $mainCl;
        transition: .3s ease-in;

        &:hover{
          background-color: #e0e0e0;
        }
      }

      .price__period {
        color: #E0E0E0;
      }
    }

    @include breakpoint(xs38){
      min-width: unset;
      width: 100%;
    }

  }

  &__card-type {
  }

  &__card-desc {
    line-height: 40/16 * 100%;
    margin: 8px 0 16px;
  }

  &__card-price {
    display: flex;
    align-items: center;
    gap:8px;
  }

  &__value {
    color: $mainCl;
    font-weight: 700;
    font-size: 76px;
    line-height: 100/76 * 100%;
    text-align: center;
    letter-spacing: 0.2px;
  }

  &__period-wrapper {
    display: flex;
    flex-direction: column;
    row-gap:4px;
  }

  &__currency {
    color: $mainCl;
    font-weight: 700;
    font-size: 24px;
    line-height: 30/24 * 100%;
    letter-spacing: 0.1px;
    font-family: 'Inter', sans-serif;
  }

  &__period {
    letter-spacing: 0.1px;
    color: #AFAFAF;
    line-height: 19/16 * 100%;
  }

  &__card-list{
    margin-top: 16px;
    font-weight: 500;
    line-height: 22/16 * 100%;
    font-family: 'Inter', sans-serif;
  }

  &__card-item{
    margin-bottom: 16px;
    text-align: center;

    &:last-child{
      margin-bottom: 38px;
    }
  }
}