.product {
  overflow: hidden;
  @include breakpoint(lg){
    padding: 0 15px 0;
  }

  @include breakpoint(md){
    padding: 0 40px 111px;
  }
  @include breakpoint(sm){
    padding: 0 25px 0;
  }

  &__row {
    position: relative;
    color: var(--txt-color);
  }

  &__title {
    max-width: 540px;
    margin:0 auto;
    text-align: center;
  }

  &__card-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 33/22 * 100%;
    margin:30px 0 13px;
    

    @include breakpoint(sm){
      text-align: center;
    }
  }

  &__cards {
    display:flex;
    justify-content: space-between;
    padding:66px 0 34px;
    gap:15px;

    @include breakpoint(md){
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 30px;
    }

    @include breakpoint(sm){
      row-gap: 32px;
      padding-top: 50px;
    }
  }

  &__card {
    max-width: 240px;
    transform: translateY(100px);
    opacity: 0;

    transition: opacity .7s, transform .7s;

    @include breakpoint(md){

      &:nth-child(odd){
        transform: translate(-150px, 0);
      }

      &:nth-child(even){
        transform: translate(150px, 0);
      }

      &:nth-child(2){
        flex-basis: 100%;
      }
    }
  }

  &__img-wrapper {
    @include breakpoint(sm){
      img{
        margin: 0 auto;
      }
    }
  }

  &__card-text {

    @include breakpoint(sm){
      text-align: center;
    }
  }

  &__btn{
    text-transform: uppercase;
    margin: 0 auto 90px;
    display: block;
    opacity: 0;

    @include breakpoint(md){
      margin-bottom: -55px;
    }

    @include breakpoint(sm){
      margin-bottom: 38px;
    }
  }

  &__gradient{
    bottom:-90px;
    z-index: -1;
    position:absolute;
    left: 50%;
    width: 2400px;
    height: 600px;
    background: var(--gradient);
    //background: linear-gradient(179.59deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 50%);
    border-radius: 50% / 100% 100% 0 0;
    transform: rotate(180deg) translateX(calc(50%));

    @include breakpoint(md){
      bottom: -55px;
    }

    @include breakpoint(sm){
      bottom: -38px;
      width: 1600px;
    }
  }

  .fadeIn{
    transform:translate(0px, 0px);
    opacity: 1;
  }

}