.display-relative{
  position: relative;
}

.process {
  overflow: hidden;
  position: relative;
  padding:0 15px 0;

  &__background{
    top:0;
    z-index: -1;
    position:absolute;
    left: 50%;
    width: 2400px;
    height: 60%;
    border-radius: 50% / 0 0 100% 100%;
    background: var(--gradient2);
    transform: rotate(180deg) translateX(50%);

    @include breakpoint(md){
      width: 2000px;
      height: 50%;
    }
  }

  &__title-wrapper {
    max-width: 542px;
    margin: 0 auto 32px;
    text-align: center;
    padding-top: 52px;
  }

  &__title {
    margin-bottom:18px;

  }

  &__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 26/16 * 100%;
    color: var(--txt-color);
  }

  &__row {
    display: flex;
    max-width: 963px;
    margin:0 auto;
    justify-content: space-between;
    gap:10px;

    @include breakpoint(md){
      flex-direction: column;
      align-items: center;
      row-gap: 24px;
    }
  }

  &__col {
    max-width: 377px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    &:first-child{

      .process__card:last-child{
        flex-direction: row-reverse;

        .process__white-circle{
          right:25px;
          left: unset;
        }
      }
    }

    & .process__card{
      @include breakpoint(sm){
        align-items: center;
      }
    }

    &:last-child{
      .process__card:first-child{
        flex-direction: row-reverse;

        .process__white-circle{
          right:25px;
          left: unset;
        }
      }
      @include breakpoint(md){
        flex-direction: column-reverse;
      }
    }
  }

  &__card {
    display: flex;
    gap: 16px;

    /*@include breakpoint(sn){
      align-items: center;
    }*/
  }

  &__img-wrapper {
    width: 98px;
    height: 98px;
    position: relative;
    overflow: hidden;

    @include breakpoint(md){
      width: 90px;
      height: 90px;
    }

    @include breakpoint(sm){
      width: 60px;
      height: 60px;
    }

    img{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      object-fit: cover;
      transform:translate(-50%, -50%);
    }
  }

  &__text-col {
    padding-top:14px;

    @include breakpoint(sm){
      padding-top: 0;
    }
  }

  &__text-cloud {
    padding: 15px 24px 20px;
    background: #FFFFFF;
    box-shadow: 0 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    position: relative;
    font-weight: 500;

    @include breakpoint(md){
      padding:12px 20px 12px;
      text-align: center;
    }
  }

  &__white-circle {
    position: absolute;
    background-color: white;
    width: 17px;
    height: 17px;
    z-index: 1;
    border-radius: 50%;
    bottom: -7px;
    left: 25px;
  }

  &__btn{
    //margin-top: 48px;
    margin: 48px auto 0;
    display: block;
  }
}