.reviews {

  padding-bottom: 150px;

  @include breakpoint(lg){
    padding: 0 15px 150px;
  }

  @include breakpoint(md){
    padding: 0 40px 100px;
  }
  @include breakpoint(sm){
    padding: 0 25px 0;
  }

  font-size: 16px;

  &__title {
    text-align: center;
  }

  &__desc {
    max-width: 540px;
    margin: 8px auto 50px;
    text-align: center;
    color:var(--txt-color);
    font-weight: 500;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    gap: 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    @include breakpoint(sm){
      flex-direction: column;
      align-items: center;
      row-gap: 32px;
    }

  }

  &__card {
    min-width: 337px;
    width: 337px;
    padding:28px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    background-color: white;

    @include breakpoint(md){
      padding: 24px;
    }
    @include breakpoint(sm){
      padding: 14px;
    }

    @include breakpoint(xs38){
      width: 100%;
      min-width: unset;
    }
  }

  &__stars {
  }

  &__star{

    &:hover{
      cursor: pointer;
    }
  }

  .icon-star-empty {

    &:before{
      font-size: 18px;
      margin-right: 3.5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .icon-star-full {

    &:before{
      font-size: 18px;
      margin-right: 3.5px;

      &:last-child{
        margin-right: 0;
      }
    }
  }

  &__text {
    margin: 16px 0;
    color: #737373;

    @include breakpoint(xs38){
      font-size: 14px;
      margin: 12px 0;
    }
  }

  &__profile {
    display: flex;
    gap: 14px;
  }

  &__img-wrapper {
  }

  &__u-info {
  }

  &__u-name {
    letter-spacing: 0.2px;
    color: #02897A;
    font-weight: 600;
  }

  &__u-speciality {
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 500;
    color: #252B42;

  }
}