@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&family=Inter:wght@500;700&family=Montserrat:wght@600&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;900&display=swap');


@font-face {
  font-family: 'fa-regular';
  src: url($faRegularPath + "fa-regular-400.eot");
  src: url($faRegularPath + "fa-regular-400.eot?#iefix") format('embedded-opentype'),
  url($faRegularPath + "fa-regular-400.ttf") format('truetype'),
  url($faRegularPath + "fa-regular-400.woff") format('woff'),
  url($faRegularPath + "fa-regular-400.svg#fa-regular-400") format('svg'),
  url($faRegularPath + "fa-regular-400.otf") format('otf');
}


@font-face {
  font-family: 'ProximaNova';
  src: url($proximaNovaPath + "ProximaNova-Regular.eot");
  src: url($proximaNovaPath + "ProximaNova-Regular.eot?#iefix") format('embedded-opentype'),
  url($proximaNovaPath + "ProximaNova-Regular.woff") format('woff'),
  url($proximaNovaPath + "ProximaNova-Regular.ttf") format('truetype'),
  url($proximaNovaPath + "ProximaNova-Regular.svg#ProximaNova-Regular") format('svg'),
  url($proximaNovaPath + "ProximaNova-Regular.otf") format('otf');
}


@font-face {
  font-family: 'icomoon';
  src:  url($iconFontPath + 'icomoon.eot?nas1bm');
  src:  url($iconFontPath + 'icomoon.eot?nas1bm#iefix') format('embedded-opentype'),
  url($iconFontPath + 'icomoon.ttf?nas1bm') format('truetype'),
  url($iconFontPath + 'icomoon.woff?nas1bm') format('woff'),
  url($iconFontPath + 'icomoon.svg?nas1bm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
