@mixin breakpoint($point){
  @if ($point == lg108){@media (max-width: 1085px) {@content;}}
  @else if($point == lg){@media (max-width: 992px) {@content;}}
  @else if($point == md9){@media (max-width: 900px) {@content;}}
  @else if($point == md){@media (max-width: 790px) {@content;}}
  @else if($point == sm65){@media (max-width: 650px) {@content;}}
  @else if($point == sm){@media (max-width: 576px) {@content;}}
  @else if($point == xs38){@media (max-width: 380px) {@content;}}
  @else if($point == xs){@media (max-width: 320px) {@content;}}
}

@mixin abs-position ($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin textTruncate($width){
  max-width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}