/*NAVIGATION*/
$navBgColor: white;
$navTextColor: #475569;
$navTextHoverColor: #482ff7;
$burgerColor: #101010;
$aboveNavContentHeight:0;
$navHeight:80px;
/*NAVIGATION*/

/*    FONTS   */

$proximaNovaPath: "../fonts/ProximaNova/";
$faRegularPath: "../fonts/FontAwesome/";
$iconFontPath: "../fonts/IconFont/";
/*    FONTS   */

/*    COLORS    */
$mainCl: #02897A;


$backgroundCl: #fff;
$txtCl: #22343D;
$txtCl2:#173a56;
$gradientCl: linear-gradient(179.59deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 50%);
$gradientCl2: linear-gradient(179.59deg, rgba(255, 255, 255, 0.0001) 0.35%, #EDEDED 50%);
$gradientCl3-r: linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 40%, #EDEDED 100%);
$gradientCl3-l: linear-gradient(-90deg, rgba(255, 255, 255, 0.0001) 60%, #EDEDED 100%);
$signInHover: #f7f7f7;
$logoHover: #283b44;
$borderCl: #dedede;
/*    COLORS DARK    */

$backgroundCl_dark: #1f2e35;
$txtCl_dark: #fff;
$txtCl2_dark:#fff;
$gradientCl_dark: linear-gradient(179.59deg, #22343D 0.35%, rgba(67, 67, 67, 0.0001) 50%);
$gradientCl2_dark: linear-gradient(179.59deg,  rgba(67, 67, 67, 0.0001) 0.35%, #22343D 50%);
$gradientCl3-r_dark: linear-gradient(90deg,  rgba(67, 67, 67, 0.0001) 40%, #22343D 100%);
$gradientCl3-l_dark: linear-gradient(-90deg, rgba(67, 67, 67, 0.0001) 60%, #22343D 100%);
$signInHover_dark: #283b44;
$logoHover_dark: #f7f7f7;
$borderCl_dark:#1f2e35;

/*    COLORS    */

$cloudCircleIndent: 25px ;